name: Deploy To Github Pages
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Cache configration
        uses: actions/cache@v2
        with:
          path: .cache/yarn
          key: ${{ runner.os }}-yarn-cache-v1
      - run: yarn install

      # - name: Test
      #   run: yarn test:ci
      - name: Build
        run: npm run generate

      - name: Deploy
        uses: actions/deploy-pages@v1
        # if: ${{ github.ref == 'refs/heads/main' }}
